@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/video.css" rel="stylesheet" />




@*<div class="text-center">
          <h1 class="display-4">Welcome to Fag el Gamous</h1>
          <p>
              Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological
              investigation (primarily by BYU researchers) for over 25 years. The excavation has garnered international attention because of
              the interesting insights gained by studying the Fag el-Gamous mummies.
          </p>
          <div class="fade-in">
              <div class="align-content-center">
                  <img src="~/img/kingtut2.jpg" />
              </div>
          </div>
    </div>*@
<div class="hero">
    <div class="video-background">
        <div class="video-foreground">
            <iframe width="1600" height="900" src="https://www.youtube.com/embed/5Byw9ZK2dJc?controls=0&loop=1&autoplay=1&mute=1&start=30"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!--alternate video that we can use: d9mt8Iv_Z9E-->
        </div>
    </div>
    <div class="hero-text">
        <h1><strong>BYU Mummy Project</strong></h1>
    </div>
    @*<p>
        Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological
        investigation (primarily by BYU researchers) for over 25 years. The excavation has garnered international attention because of the
        interesting insights gained by studying the Fag el-Gamous mummies
    </p>*@
</div>

