@{
    ViewData["Title"] = "Privacy";
}

<div class="text-center">
    <h1 class="display-4">Fag el-Gamouse Privacy Page</h1>
</div>

<div class="container">
    <div>
        <h4>
            Cookie Policy
        </h4>
        <h4>
            Last updated: April 10, 2023
        </h4>
    </div>
    <p>
        Our website Fag el-Gamous uses cookies to improve your browsing experience.
        This policy explains how we use cookies and what choices you have.
    </p>
    <div>
        <h5> What are cookies?</h5>

        <p>
            Cookies are small text files that are placed on your computer or mobile device when you browse websites.
            They are widely used to make websites work more efficiently, as well as to provide information to the owners of the site.
        </p>
        <p>For further information, visit <a href="https://allaboutcookies.org/" target="_blank">allaboutcookies.org.</a></p>
    </div>
    <div>
        <h5>
            We use the following types of cookies on our website:
        </h5>
        <ol>
            <li>
                Essential cookies: These cookies are necessary to provide you with services available through our
                website and to use some of its features, such as access to secure areas.
            </li>
            <li>
                Analytics cookies: These cookies help us understand how users engage with our website by collecting
                information about the pages they visit, how long they stay on the site, and other similar metrics.
                This information helps us improve our website and make it more user-friendly.
            </li>
        </ol>
    </div>
    <div>
        <h5>How do we use cookies?</h5>
        <p>We collect the following data for the purpose of running this website. Your data is not used for any other 
            purposes or shared with third parties. It is removed upon your request. We uses cookies in a range of ways to improve 
            your experience on our website, including:</p>
        <ul>
            <li>Keeping you signed in</li>
            <li>Understanding how you use our website</li>
        </ul>
    </div>

    <div>
        <h5>What are your data protection rights?</h5>
        <p>
            Our Company would like to make sure you are fully aware of all of your data protection rights.
            Every user is entitled to the following:
        </p>
        <p>
            <strong>The right to access</strong>– You have the right to request Our Company for copies of your personal data.
            We may charge you a small fee for this service.
        </p>
        <p>
            <strong>The right to rectification</strong>– You have the right to request that Our Company correct any information
            you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.
        </p>
        <p>
            <strong>The right to erasure</strong>– You have the right to request that Our Company erase your personal data, under certain conditions.
        </p>
        <p>
            <strong>The right to restrict processing</strong>– You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.
        </p>
        <p>
            <strong>The right to object to processing</strong>– You have the right to object to Our Company’s processing of your personal data, under certain conditions.
        </p>
        <p>
            <strong>The right to data portability</strong>– You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.
        </p>
    </div>
    <div>
        <h5>How to manage cookies</h5>
        <p>
            You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser.
            However, in a few cases, some of our website features may not function as a result.
        </p>
        <h5>Privacy policies of other websites</h5>
        <p>
            The Fag el-Gamous website contains links to other websites. Our privacy policy applies only to our website,
            so if you click on a link to another website, you should read their privacy policy.
        </p>
    </div>

    <h5>
        Your choices
    </h5>
    <p>
        You have the right to choose whether or not to accept cookies. You can set your browser to refuse all cookies or
        to indicate when a cookie is being sent. However, please note that some parts of our website may not
        function properly if you choose to disable cookies.
    </p>
    <p>If you have any questions about our use of cookies, please contact us at <a href="mailto:ogc@byu.edu">ogc@byu.edu</a>.</p>
    <h5>Changes to this policy</h5>
    <p>
        We may update this policy from time to time to reflect changes in our use of cookies.
        We encourage you to review this policy regularly for any changes.
    </p>
    <h5>How to contact us</h5>
    <p>If you have any questions about Our Company’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
    <p>
        <a href="mailto:ogc@byu.edu">ogc@byu.edu</a>
        <br />
        <address>
            Office of General Council and Legal Services<br>
            Abraham O. Smoot Administration Bldg,<br>
            Campus Dr, <br>
            Provo, UT 84604<br>
        </address>
    </p>
</div>