@{
    ViewData["Title"] = "Supervised";
}

<div class="text-center">
    <h1 class="display-4">Supervised Model</h1>
</div>


<div></div>
<br />
<div class="form-group container">
    <form method="post" id="form">
        <h3 id="resultDiv" align="center">Welcome to the Supervised Model! Input your data here!</h3>

        <strong>
            <label for="squarenorthsouth">Square North-South:</label>
            <input type="number" id="squarenorthsouth" name="squarenorthsouth" value="0"><br>

            <label for="depth">Depth:</label>
            <input type="number" id="depth" name="depth" value="0"><br>

            <label for="southtohead">South to Head:</label>
            <input type="number" id="southtohead" name="southtohead" value="0"><br>

            <label for="squareeastwest">Square East-West:</label>
            <input type="number" id="squareeastwest" name="squareeastwest" value="0"><br>

            <label for="westtohead">West to Head:</label>
            <input type="number" id="westtohead" name="westtohead" value="0"><br>

            <label for="length">Length:</label>
            <input type="number" id="length" name="length" value="0"><br>

            <label for="burialnumber">Burial Number:</label>
            <input type="number" id="burialnumber" name="burialnumber" value="0"><br>

            <label for="westtofeet">West to Feet:</label>
            <input type="number" id="westtofeet" name="westtofeet" value="0"><br>

            <label for="southtofeet">South to Feet:</label>
            <input type="number" id="southtofeet" name="southtofeet" value="0"><br>

            <label for="fieldbookexcavationyear">Field Book Excavation Year:</label>
            <input type="number" id="fieldbookexcavationyear" name="fieldbookexcavationyear" value="0"><br>

            <label for="count">Count:</label>
            <input type="number" id="count" name="count" value="0"><br>

            <label for="headdirection_E">Head Direction E:</label>
            <input type="number" id="headdirection_E" name="headdirection_E" value="0"><br>

            <label for="headdirection_W">Head Direction W:</label>
            <input type="number" id="headdirection_W" name="headdirection_W" value="0"><br>

            <label for="northsouth_N">North-South N:</label>
            <input type="number" id="northsouth_N" name="northsouth_N" value="0"><br>

            <label for="eastwest_E">East-West E:</label>
            <input type="number" id="eastwest_E" name="eastwest_E" value="0"><br>

            <label for="eastwest_W">East-West W:</label>
            <input type="number" id="eastwest_W" name="eastwest_W" value="0"><br>
            <!-------------------------------------------------------->
            <label for="adultsubadult_Adult">Adult Subadult Adult:</label>
            <input type="number" id="adultsubadult_Adult" name="adultsubadult_Adult" value="0"><br>

            <label for="adultsubadult_Non_Adult">Adult Subadult Non-Adult:</label>
            <input type="number" id="adultsubadult_Non_Adult" name="adultsubadult_Non_Adult" value="0"><br>

            <label for="preservation_Badly_deteriorated">preservation_Badly_deteriorated:</label>
            <input type="number" id="preservation_Badly_deteriorated" name="preservation_Badly_deteriorated" value="0"><br>

            <label for="preservation_Body_only">preservation_Body_only:</label>
            <input type="number" id="preservation_Body_only" name="preservation_Body_only" value="0"><br>

            <label for="preservation_SKELETON">preservation_SKELETON:</label>
            <input type="number" id="preservation_SKELETON" name="preservation_SKELETON" value="0"><br>

            <label for="preservation_Skull_only">preservation_Skull_only:</label>
            <input type="number" id="preservation_Skull_only" name="preservation_Skull_only" value="0"><br>

            <label for="preservation_badly_disturbed">preservation_badly_disturbed:</label>
            <input type="number" id="preservation_badly_disturbed" name="preservation_badly_disturbed" value="0"><br>

            <label for="preservation_badly_preserved">preservation_badly_preserved:</label>
            <input type="number" id="preservation_badly_preserved" name="preservation_badly_preserved" value="0"><br>

            <label for="preservation_bones">preservation_bones:</label>
            <input type="number" id="preservation_bones" name="preservation_bones" value="0"><br>

            <label for="preservation_bones_and_skull">preservation_bones_and_skull:</label>
            <input type="number" id="preservation_bones_and_skull" name="preservation_bones_and_skull" value="0"><br>

            <label for="preservation_disarticulated">preservation_disarticulated:</label>
            <input type="number" id="preservation_disarticulated" name="preservation_disarticulated" value="0"><br>

            <label for="preservation_fair">preservation_fair:</label>
            <input type="number" id="preservation_fair" name="preservation_fair" value="0"><br>

            <label for="preservation_good">preservation_good:</label>
            <input type="number" id="preservation_good" name="preservation_good" value="0"><br>

            <label for="preservation_headless_skeleton">preservation_headless_skeleton:</label>
            <input type="number" id="preservation_headless_skeleton" name="preservation_headless_skeleton" value="0"><br>

            <label for="preservation_infested_with_bugs">preservation_infested_with_bugs:</label>
            <input type="number" id="preservation_infested_with_bugs" name="preservation_infested_with_bugs" value="0"><br>

            <label for="preservation_poor">preservation_poor:</label>
            <input type="number" id="preservation_poor" name="preservation_poor" value="0"><br>

            <label for="preservation_poorly_preserved">preservation_poorly_preserved:</label>
            <input type="number" id="preservation_poorly_preserved" name="preservation_poorly_preserved" value="0"><br>

            <label for="preservation_scattered_bones">preservation_scattered_bones:</label>
            <input type="number" id="preservation_scattered_bones" name="preservation_scattered_bones" value="0"><br>

            <label for="preservation_scattered_bones_with_skull">preservation_scattered_bones_with_skull:</label>
            <input type="number" id="preservation_scattered_bones_with_skull" name="preservation_scattered_bones_with_skull" value="0"><br>

            <label for="preservation_skeletalized">preservation_skeletalized:</label>
            <input type="number" id="preservation_skeletalized" name="preservation_skeletalized" value="0"><br>

            <label for="preservation_very_disturbed">preservation_very_disturbed:</label>
            <input type="number" id="preservation_very_disturbed" name="preservation_very_disturbed" value="0"><br>

            <label for="preservation_well_wrapped">preservation_well_wrapped:</label>
            <input type="number" id="preservation_well_wrapped" name="preservation_well_wrapped" value="0"><br>

            <label for="preservation_wrapped">preservation_wrapped:</label>
            <input type="number" id="preservation_wrapped" name="preservation_wrapped" value="0"><br>

            <label for="preservation_wrapped_bones_showing">preservation_wrapped_bones_showing:</label>
            <input type="number" id="preservation_wrapped_bones_showing" name="preservation_wrapped_bones_showing" value="0"><br>

            <label for="preservation_wrapped_head_showing">preservation_wrapped_head_showing:</label>
            <input type="number" id="preservation_wrapped_head_showing" name="preservation_wrapped_head_showing" value="0"><br>
            <!------------------------------------------------------------------------------------------------------------->
            <label for="goods_N">goods_N:</label>
            <input type="number" id="goods_N" name="goods_N" value="0"><br>

            <label for="goods_Y">goods_Y:</label>
            <input type="number" id="goods_Y" name="goods_Y" value="0"><br>

            <label for="haircolor_Black">haircolor_Black:</label>
            <input type="number" id="haircolor_Black" name="haircolor_Black" value="0"><br>

            <label for="haircolor_Blond">haircolor_Blond:</label>
            <input type="number" id="haircolor_Blond" name="haircolor_Blond" value="0"><br>

            <label for="haircolor_Brown">haircolor_Brown:</label>
            <input type="number" id="haircolor_Brown" name="haircolor_Brown" value="0"><br>

            <label for="haircolor_Brown_Read">haircolor_Brown_Read:</label>
            <input type="number" id="haircolor_Brown_Read" name="haircolor_Brown_Read" value="0"><br>

            <label for="haircolor_Brown_Red">haircolor_Brown_Red:</label>
            <input type="number" id="haircolor_Brown_Red" name="haircolor_Brown_Red" value="0"><br>

            <label for="haircolor_Red_Red_BI">haircolor_Red_Red_BI:</label>
            <input type="number" id="haircolor_Red_Red_BI" name="haircolor_Red_Red_BI" value="0"><br>

            <label for="haircolor_Y">Hair Color (Y):</label>
            <input type="number" id="haircolor_Y" name="haircolor_Y" value="0"><br>

            <label for="samplescollected_False">Samples Collected (False):</label>
            <input type="number" id="samplescollected_False" name="samplescollected_False" value="0"><br>

            <label for="samplescollected_True">Samples Collected (True):</label>
            <input type="number" id="samplescollected_True" name="samplescollected_True" value="0"><br>

            <label for="area_NE">Area (NE):</label>
            <input type="number" id="area_NE" name="area_NE" value="0"><br>

            <label for="area_NNW">Area (NNW):</label>
            <input type="number" id="area_NNW" name="area_NNW" value="0"><br>

            <label for="area_NW">Area (NW):</label>
            <input type="number" id="area_NW" name="area_NW" value="0"><br>

            <label for="area_SE">Area (SE):</label>
            <input type="number" id="area_SE" name="area_SE" value="0"><br>

            <label for="area_SW">Area (SW):</label>
            <input type="number" id="area_SW" name="area_SW" value="0"><br>

            <label for="ageatdeath_Adult">Age at Death (Adult):</label>
            <input type="number" id="ageatdeath_Adult" name="ageatdeath_Adult" value="0"><br>

            <label for="ageatdeath_Child">Age at Death (Child):</label>
            <input type="number" id="ageatdeath_Child" name="ageatdeath_Child" value="0"><br>

            <label for="ageatdeath_Infant">Age at Death (Infant):</label>
            <input type="number" id="ageatdeath_Infant" name="ageatdeath_Infant" value="0"><br>

            <label for="ageatdeath_Newborn">Age at Death (Newborn):</label>
            <input type="number" id="ageatdeath_Newborn" name="ageatdeath_Newborn" value="0"><br>
            <!----------------------------------------------------------------------->
            <label for="Textile_value_Belt_probable_">Textile Value (Belt - Probable):</label>
            <input type="number" id="Textile_value_Belt_probable_" name="Textile_value_Belt_probable_" value="0"><br>

            <label for="Textile_value_Blanket_shroud">Textile Value (Blanket/Shroud):</label>
            <input type="number" id="Textile_value_Blanket_shroud" name="Textile_value_Blanket_shroud" value="0"><br>

            <label for="Textile_value_Blanket_shroud_probable">Textile Value (Blanket/Shroud - Probable):</label>
            <input type="number" id="Textile_value_Blanket_shroud_probable" name="Textile_value_Blanket_shroud_probable" value="0"><br>

            <label for="Textile_value_Cordage">Textile Value (Cordage):</label>
            <input type="number" id="Textile_value_Cordage" name="Textile_value_Cordage" value="0"><br>

            <label for="Textile_value_Face_bundle">Textile value Face bundle:</label>
            <input type="number" id="Textile_value_Face_bundle" name="Textile_value_Face_bundle" value="0"><br>

            <label for="Textile_value_Fragmentary">Textile value Fragmentary:</label>
            <input type="number" id="Textile_value_Fragmentary" name="Textile_value_Fragmentary" value="0"><br>

            <label for="Textile_value_Fragmentary_Unknown">Textile value Fragmentary Unknown:</label>
            <input type="number" id="Textile_value_Fragmentary_Unknown" name="Textile_value_Fragmentary_Unknown" value="0"><br>

            <label for="Textile_value_Head_covering">Textile value Head covering:</label>
            <input type="number" id="Textile_value_Head_covering" name="Textile_value_Head_covering" value="0"><br>

            <label for="Textile_value_Other_Torn_Strip_Binding">Textile value Other Torn Strip Binding:</label>
            <input type="number" id="Textile_value_Other_Torn_Strip_Binding" name="Textile_value_Other_Torn_Strip_Binding" value="0"><br>

            <label for="Textile_value_Ribbon">Textile value Ribbon:</label>
            <input type="number" id="Textile_value_Ribbon" name="Textile_value_Ribbon" value="0"><br>

            <label for="Textile_value_Ribbon_fragment">Textile value Ribbon fragment:</label>
            <input type="number" id="Textile_value_Ribbon_fragment" name="Textile_value_Ribbon_fragment" value="0"><br>

            <label for="Textile_value_Ribbon_Torn_Strip">Textile value Ribbon Torn Strip:</label>
            <input type="number" id="Textile_value_Ribbon_Torn_Strip" name="Textile_value_Ribbon_Torn_Strip" value="0"><br>

            <label for="Textile_value_Rope">Textile value Rope:</label>
            <input type="number" id="Textile_value_Rope" name="Textile_value_Rope" value="0"><br>

            <label for="Textile_value_Tunic">Textile value Tunic:</label>
            <input type="number" id="Textile_value_Tunic" name="Textile_value_Tunic" value="0"><br>

            <label for="Textile_value_Tunic_sewn_fragmentary">Textile value Tunic sewn fragmentary:</label>
            <input type="number" id="Textile_value_Tunic_sewn_fragmentary" name="Textile_value_Tunic_sewn_fragmentary" value="0"><br>

            <label for="Textile_value_Unknown_probably_blanket_shroud">Textile value Unknown probably blanket shroud:</label>
            <input type="number" id="Textile_value_Unknown_probably_blanket_shroud" name="Textile_value_Unknown_probably_blanket_shroud" value="0"><br>

            <label for="Textile_value_small_fragment_of_plain_weave">Textile value small fragment of plain weave:</label>
            <input type="number" id="Textile_value_small_fragment_of_plain_weave" name="Textile_value_small_fragment_of_plain_weave" value="0"><br>

            <label for="thickness_Coarse">Thickness Coarse:</label>
            <input type="number" id="thickness_Coarse" name="thickness_Coarse" value="0"><br>

            <label for="thickness_Extra_fine">Thickness Extra Fine:</label>
            <input type="number" id="thickness_Extra_fine" name="thickness_Extra_fine" value="0"><br>

            <label for="thickness_Fine">Thickness Fine:</label>
            <input type="number" id="thickness_Fine" name="thickness_Fine" value="0"><br>

            <label for="thickness_Fine_medium">Thickness Fine Medium:</label>
            <input type="number" id="thickness_Fine_medium" name="thickness_Fine_medium" value="0"><br>

            <label for="thickness_Medium">Thickness Medium:</label>
            <input type="number" id="thickness_Medium" name="thickness_Medium" value="0"><br>

            <label for="thickness_Very_fine">Thickness Very Fine:</label>
            <input type="number" id="thickness_Very_fine" name="thickness_Very_fine" value="0"><br>

            <label for="thickness_wool">Thickness Wool:</label>
            <input type="number" id="thickness_wool" name="thickness_wool" value="0"><br>

            <label for="manipulation_Edge">Manipulation Edge:</label>
            <input type="number" id="manipulation_Edge" name="manipulation_Edge" value="0"><br>

            <label for="manipulation_Green_yarns">Manipulation Green Yarns:</label>
            <input type="number" id="manipulation_Green_yarns" name="manipulation_Green_yarns" value="0"><br>

            <label for="manipulation_Thread_single_stitch">Manipulation Thread Single Stitch:</label>
            <input type="number" id="manipulation_Thread_single_stitch" name="manipulation_Thread_single_stitch" value="0"><br>

            <label for="manipulation_Warp">Manipulation Warp:</label>
            <input type="number" id="manipulation_Warp" name="manipulation_Warp" value="0"><br>

            <label for="manipulation_Weft">Manipulation Weft:</label>
            <input type="number" id="manipulation_Weft" name="manipulation_Weft" value="0"><br>

            <label for="manipulation_Weft_pile_band">Manipulation Weft Pile Band:</label>
            <input type="number" id="manipulation_Weft_pile_band" name="manipulation_Weft_pile_band" value="0"><br>

            <label for="manipulation_Weft_red">Manipulation Weft Red:</label>
            <input type="number" id="manipulation_Weft_red" name="manipulation_Weft_red" value="0"><br>

            <label for="manipulation_Weft_Ribs">Manipulation Weft Ribs:</label>
            <input type="number" id="manipulation_Weft_Ribs" name="manipulation_Weft_Ribs" value="0"><br>

            <label for="manipulation_Weft_decoration">Manipulation Weft Decoration:</label>
            <input type="number" id="manipulation_Weft_decoration" name="manipulation_Weft_decoration" value="0"><br>

            <label for="material_Linen">Material Linen:</label>
            <input type="number" id="material_Linen" name="material_Linen" value="0"><br>

            <label for="material_Linen_background">Material Linen Background:</label>
            <input type="number" id="material_Linen_background" name="material_Linen_background" value="0"><br>

            <label for="material_Linen_red">Material Linen Red:</label>
            <input type="number" id="material_Linen_red" name="material_Linen_red" value="0"><br>

            <label for="material_Linen_very_loosely_spun">Material Linen Very Loosely Spun:</label>
            <input type="number" id="material_Linen_very_loosely_spun" name="material_Linen_very_loosely_spun" value="0"><br>

            <label for="material_Other">Material Other:</label>
            <input type="number" id="material_Other" name="material_Other" value="0"><br>

            <label for="material_Other_burlap">Material Other Burlap:</label>
            <input type="number" id="material_Other_burlap" name="material_Other_burlap" value="0"><br>

            <label for="material_Other_vegetable_fiber">Material Other Vegetable Fiber:</label>
            <input type="number" id="material_Other_vegetable_fiber" name="material_Other_vegetable_fiber" value="0"><br>

            <label for="material_Wool">Material Wool:</label>
            <input type="number" id="material_Wool" name="material_Wool" value="0"><br>

            <label for="material_Wool_tapestry">Material Wool Tapestry:</label>
            <input type="number" id="material_Wool_tapestry" name="material_Wool_tapestry" value="0"><br>

            <label for="material_Wool_thread">Material Wool Thread:</label>
            <input type="number" id="material_Wool_thread" name="material_Wool_thread" value="0"><br>

            <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
        </strong>
        @*<input class="" type="submit" value="Submit">*@
    </form>
</div>

<h2 id="resultDiv" align="center"></h2>

<script>
      const form = document.getElementById('form');
    const resultDiv = document.getElementById('resultDiv');

      form.addEventListener('submit', async event => {
        event.preventDefault();

        const Vsquarenorthsouth = document.getElementById('squarenorthsouth').value;
        const Vdepth = document.getElementById('depth').value;
        const Vsouthtohead = document.getElementById('southtohead').value;
        const Vsquareeastwest = document.getElementById('squareeastwest').value;
        const Vwesttohead = document.getElementById('westtohead').value;
        const Vlength = document.getElementById('length').value;
        const Vburialnumber = document.getElementById('burialnumber').value;
        const Vwesttofeet = document.getElementById('westtofeet').value;
        const Vsouthtofeet = document.getElementById('southtofeet').value;
        const Vfieldbookexcavationyear = document.getElementById('fieldbookexcavationyear').value;
        const Vcount = document.getElementById('count').value;
        const Vheaddirection_E = document.getElementById('headdirection_E').value;
        const Vheaddirection_W = document.getElementById('headdirection_W').value;
        const Vnorthsouth_N = document.getElementById('northsouth_N').value;
        const Veastwest_E = document.getElementById('eastwest_E').value;
        const Veastwest_W = document.getElementById('eastwest_W').value;
        const Vadultsubadult_Adult = document.getElementById('adultsubadult_Adult').value;
        const Vadultsubadult_Non_Adult = document.getElementById('adultsubadult_Non_Adult').value;
        const Vpreservation_Badly_deteriorated = document.getElementById('preservation_Badly_deteriorated').value;
        const Vpreservation_Body_only = document.getElementById('preservation_Body_only').value;
        const Vpreservation_SKELETON = document.getElementById('preservation_SKELETON').value;
        const Vpreservation_Skull_only = document.getElementById('preservation_Skull_only').value;
        const Vpreservation_badly_disturbed = document.getElementById('preservation_badly_disturbed').value;
        const Vpreservation_badly_preserved = document.getElementById('preservation_badly_preserved').value;
        const Vpreservation_bones = document.getElementById('preservation_bones').value;
        const Vpreservation_bones_and_skull = document.getElementById('preservation_bones_and_skull').value;
        const Vpreservation_disarticulated = document.getElementById('preservation_disarticulated').value;
        const Vpreservation_fair = document.getElementById('preservation_fair').value;
        const Vpreservation_good = document.getElementById('preservation_good').value;
        const Vpreservation_headless_skeleton = document.getElementById('preservation_headless_skeleton').value;
        const Vpreservation_infested_with_bugs = document.getElementById('preservation_infested_with_bugs').value;
        const Vpreservation_poor = document.getElementById('preservation_poor').value;
        const Vpreservation_poorly_preserved = document.getElementById('preservation_poorly_preserved').value;
        const Vpreservation_scattered_bones = document.getElementById('preservation_scattered_bones').value;
        const Vpreservation_scattered_bones_with_skull = document.getElementById('preservation_scattered_bones_with_skull').value;
        const Vpreservation_skeletalized = document.getElementById('preservation_skeletalized').value;
        const Vpreservation_very_disturbed = document.getElementById('preservation_very_disturbed').value;
        const Vpreservation_well_wrapped = document.getElementById('preservation_well_wrapped').value;
        const Vpreservation_wrapped = document.getElementById('preservation_wrapped').value;
        const Vpreservation_wrapped_bones_showing = document.getElementById('preservation_wrapped_bones_showing').value;
        const Vpreservation_wrapped_head_showing = document.getElementById('preservation_wrapped_head_showing').value;
        const Vgoods_N = document.getElementById("goods_N").value;
        const Vgoods_Y = document.getElementById("goods_Y").value;
        const Vhaircolor_Black = document.getElementById("haircolor_Black").value;
        const Vhaircolor_Blond = document.getElementById("haircolor_Blond").value;
        const Vhaircolor_Brown = document.getElementById("haircolor_Brown").value;
        const Vhaircolor_Brown_Read = document.getElementById("haircolor_Brown_Read").value;
        const Vhaircolor_Brown_Red = document.getElementById("haircolor_Brown_Red").value;
        const Vhaircolor_Red_Red_BI = document.getElementById("haircolor_Red_Red_BI").value;
        const Vhaircolor_Y = document.getElementById("haircolor_Y").value;
        const Vsamplescollected_False = document.getElementById("samplescollected_False").value;
        const Vsamplescollected_True = document.getElementById("samplescollected_True").value;
        const Varea_NE = document.getElementById("area_NE").value;
        const Varea_NNW = document.getElementById("area_NNW").value;
        const Varea_NW = document.getElementById("area_NW").value;
        const Varea_SE = document.getElementById("area_SE").value;
        const Varea_SW = document.getElementById("area_SW").value;
        const Vageatdeath_Adult = document.getElementById("ageatdeath_Adult").value;
        const Vageatdeath_Child = document.getElementById("ageatdeath_Child").value;
        const Vageatdeath_Infant = document.getElementById("ageatdeath_Infant").value;
        const Vageatdeath_Newborn = document.getElementById("ageatdeath_Newborn").value;
        const VTextile_value_Belt_probable_ = document.getElementById("Textile_value_Belt_probable_").value;
        const VTextile_value_Blanket_shroud = document.getElementById("Textile_value_Blanket_shroud").value;
        const VTextile_value_Blanket_shroud_probable = document.getElementById("Textile_value_Blanket_shroud_probable").value;
        const VTextile_value_Cordage = document.getElementById("Textile_value_Cordage").value;
        const VTextile_value_Face_bundle = document.getElementById("Textile_value_Face_bundle").value;
        const VTextile_value_Fragmentary = document.getElementById("Textile_value_Fragmentary").value;
        const VTextile_value_Fragmentary_Unknown = document.getElementById("Textile_value_Fragmentary_Unknown").value;
        const VTextile_value_Head_covering = document.getElementById("Textile_value_Head_covering").value;
        const VTextile_value_Other_Torn_Strip_Binding = document.getElementById("Textile_value_Other_Torn_Strip_Binding").value;
        const VTextile_value_Ribbon = document.getElementById("Textile_value_Ribbon").value;
        const VTextile_value_Ribbon_fragment = document.getElementById("Textile_value_Ribbon_fragment").value;
        const VTextile_value_Ribbon_Torn_Strip = document.getElementById("Textile_value_Ribbon_Torn_Strip").value;
        const VTextile_value_Rope = document.getElementById("Textile_value_Rope").value;
        const VTextile_value_Tunic = document.getElementById("Textile_value_Tunic").value;
        const VTextile_value_Tunic_sewn_fragmentary = document.getElementById("Textile_value_Tunic_sewn_fragmentary").value;
        const VTextile_value_Unknown_probably_blanket_shroud = document.getElementById("Textile_value_Unknown_probably_blanket_shroud").value;
        const VTextile_value_small_fragment_of_plain_weave = document.getElementById("Textile_value_small_fragment_of_plain_weave").value;
        const Vthickness_Coarse = document.getElementById("thickness_Coarse").value;
        const Vthickness_Extra_fine = document.getElementById("thickness_Extra_fine").value;
        const Vthickness_Fine = document.getElementById("thickness_Fine").value;
        const Vthickness_Fine_medium = document.getElementById("thickness_Fine_medium").value;
        const Vthickness_Medium = document.getElementById("thickness_Medium").value;
        const Vthickness_Very_fine = document.getElementById("thickness_Very_fine").value;
        const Vthickness_wool = document.getElementById("thickness_wool").value;
        const Vmanipulation_Edge = document.getElementById("manipulation_Edge").value;
        const Vmanipulation_Green_yarns = document.getElementById("manipulation_Green_yarns").value;
        const Vmanipulation_Thread_single_stitch = document.getElementById("manipulation_Thread_single_stitch").value;
        const Vmanipulation_Warp = document.getElementById("manipulation_Warp").value;
        const Vmanipulation_Weft = document.getElementById("manipulation_Weft").value;
        const Vmanipulation_Weft_pile_band = document.getElementById("manipulation_Weft_pile_band").value;
        const Vmanipulation_Weft_red = document.getElementById("manipulation_Weft_red").value;
        const Vmanipulation_Weft_Ribs = document.getElementById("manipulation_Weft_Ribs").value;
        const Vmanipulation_Weft_decoration = document.getElementById("manipulation_Weft_decoration").value;
        const Vmaterial_Linen = document.getElementById("material_Linen").value;
        const Vmaterial_Linen_background = document.getElementById("material_Linen_background").value;
        const Vmaterial_Linen_red = document.getElementById("material_Linen_red").value;
        const Vmaterial_Linen_very_loosely_spun = document.getElementById("material_Linen_very_loosely_spun").value;
        const Vmaterial_Other = document.getElementById("material_Other").value;
        const Vmaterial_Other_burlap = document.getElementById("material_Other_burlap").value;
        const Vmaterial_Other_vegetable_fiber = document.getElementById("material_Other_vegetable_fiber").value;
        const Vmaterial_Wool = document.getElementById("material_Wool").value;
        const Vmaterial_Wool_tapestry = document.getElementById("material_Wool_tapestry").value;
        const Vmaterial_Wool_thread = document.getElementById("material_Wool_thread").value;



        const data = {
            "squarenorthsouth": parseFloat(Vsquarenorthsouth),
            "depth": parseFloat(Vdepth),
            "southtohead": parseFloat(Vsouthtohead),
            "squareeastwest": parseFloat(Vsquareeastwest),
            "westtohead": parseFloat(Vwesttohead),
            "length": parseFloat(Vlength),
            "burialnumber": parseFloat(Vburialnumber),
            "westtofeet": parseFloat(Vwesttofeet),
            "southtofeet": parseFloat(Vsouthtofeet),
            "fieldbookexcavationyear": parseFloat(Vfieldbookexcavationyear),
            "count": parseFloat(Vcount),
            "headdirection_E": parseFloat(Vheaddirection_E),
            "headdirection_W": parseFloat(Vheaddirection_W),
            "northsouth_N": parseFloat(Vnorthsouth_N),
            "eastwest_E": parseFloat(Veastwest_E),
            "eastwest_W": parseFloat(Veastwest_W),
            "adultsubadult_Adult": parseFloat(Vadultsubadult_Adult),
            "adultsubadult_Non_Adult": parseFloat(Vadultsubadult_Non_Adult),
            "preservation_Badly_deteriorated": parseFloat(Vpreservation_Badly_deteriorated),
            "preservation_Body_only": parseFloat(Vpreservation_Body_only),
            "preservation_SKELETON": parseFloat(Vpreservation_SKELETON),
            "preservation_Skull_only": parseFloat(Vpreservation_Skull_only),
            "preservation_badly_disturbed": parseFloat(Vpreservation_badly_disturbed),
            "preservation_badly_preserved": parseFloat(Vpreservation_badly_preserved),
            "preservation_bones": parseFloat(Vpreservation_bones),
            "preservation_bones_and_skull": parseFloat(Vpreservation_bones_and_skull),
            "preservation_disarticulated": parseFloat(Vpreservation_disarticulated),
            "preservation_fair": parseFloat(Vpreservation_fair),
            "preservation_good": parseFloat(Vpreservation_good),
            "preservation_headless_skeleton": parseFloat(Vpreservation_headless_skeleton),
            "preservation_infested_with_bugs": parseFloat(Vpreservation_infested_with_bugs),
            "preservation_poor": parseFloat(Vpreservation_poor),
            "preservation_poorly_preserved": parseFloat(Vpreservation_poorly_preserved),
            "preservation_scattered_bones": parseFloat(Vpreservation_scattered_bones),
            "preservation_scattered_bones_with_skull": parseFloat(Vpreservation_scattered_bones_with_skull),
            "preservation_skeletalized": parseFloat(Vpreservation_skeletalized),
            "preservation_very_disturbed": parseFloat(Vpreservation_very_disturbed),
            "preservation_well_wrapped": parseFloat(Vpreservation_well_wrapped),
            "preservation_wrapped": parseFloat(Vpreservation_wrapped),
            "preservation_wrapped_bones_showing": parseFloat(Vpreservation_wrapped_bones_showing),
            "preservation_wrapped_head_showing": parseFloat(Vpreservation_wrapped_head_showing),
            "goods_N": parseFloat(Vgoods_N),
            "goods_Y": parseFloat(Vgoods_Y),
            "haircolor_Black": parseFloat(Vhaircolor_Black),
            "haircolor_Blond": parseFloat(Vhaircolor_Blond),
            "haircolor_Brown": parseFloat(Vhaircolor_Brown),
            "haircolor_Brown_Read": parseFloat(Vhaircolor_Brown_Read),
            "haircolor_Brown_Red": parseFloat(Vhaircolor_Brown_Red),
            "haircolor_Red_Red_BI": parseFloat(Vhaircolor_Red_Red_BI),
            "haircolor_Y": parseFloat(Vhaircolor_Y),
            "samplescollected_False": parseFloat(Vsamplescollected_False),
            "samplescollected_True": parseFloat(Vsamplescollected_True),
            "area_NE": parseFloat(Varea_NE),
            "area_NNW": parseFloat(Varea_NNW),
            "area_NW": parseFloat(Varea_NW),
            "area_SE": parseFloat(Varea_SE),
            "area_SW": parseFloat(Varea_SW),
            "ageatdeath_Adult": parseFloat(Vageatdeath_Adult),
            "ageatdeath_Child": parseFloat(Vageatdeath_Child),
            "ageatdeath_Infant": parseFloat(Vageatdeath_Infant),
            "ageatdeath_Newborn": parseFloat(Vageatdeath_Newborn),
            "Textile_value_Belt_probable_": parseFloat(VTextile_value_Belt_probable_),
            "Textile_value_Blanket_shroud": parseFloat(VTextile_value_Blanket_shroud),
            "Textile_value_Blanket_shroud_probable": parseFloat(VTextile_value_Blanket_shroud_probable),
            "Textile_value_Cordage": parseFloat(VTextile_value_Cordage),
            "Textile_value_Face_bundle": parseFloat(VTextile_value_Face_bundle),
            "Textile_value_Fragmentary": parseFloat(VTextile_value_Fragmentary),
            "Textile_value_Fragmentary_Unknown": parseFloat(VTextile_value_Fragmentary_Unknown),
            "Textile_value_Head_covering": parseFloat(VTextile_value_Head_covering),
            "Textile_value_Other_Torn_Strip_Binding": parseFloat(VTextile_value_Other_Torn_Strip_Binding),
            "Textile_value_Ribbon": parseFloat(VTextile_value_Ribbon),
            "Textile_value_Ribbon_fragment": parseFloat(VTextile_value_Ribbon_fragment),
            "Textile_value_Ribbon_Torn_Strip": parseFloat(VTextile_value_Ribbon_Torn_Strip),
            "Textile_value_Rope": parseFloat(VTextile_value_Rope),
            "Textile_value_Tunic": parseFloat(VTextile_value_Tunic),
            "Textile_value_Tunic_sewn_fragmentary": parseFloat(VTextile_value_Tunic_sewn_fragmentary),
            "Textile_value_Unknown_probably_blanket_shroud": parseFloat(VTextile_value_Unknown_probably_blanket_shroud),
            "Textile_value_small_fragment_of_plain_weave": parseFloat(VTextile_value_small_fragment_of_plain_weave),
            "thickness_Coarse": parseFloat(Vthickness_Coarse),
            "thickness_Extra_fine": parseFloat(Vthickness_Extra_fine),
            "thickness_Fine": parseFloat(Vthickness_Fine),
            "thickness_Fine_medium": parseFloat(Vthickness_Fine_medium),
            "thickness_Medium": parseFloat(Vthickness_Medium),
            "thickness_Very_fine": parseFloat(Vthickness_Very_fine),
            "thickness_wool": parseFloat(Vthickness_wool),
            "manipulation_Edge": parseFloat(Vmanipulation_Edge),
            "manipulation_Green_yarns": parseFloat(Vmanipulation_Green_yarns),
            "manipulation_Thread_single_stitch": parseFloat(Vmanipulation_Thread_single_stitch),
            "manipulation_Warp": parseFloat(Vmanipulation_Warp),
            "manipulation_Weft": parseFloat(Vmanipulation_Weft),
            "manipulation_Weft_pile_band": parseFloat(Vmanipulation_Weft_pile_band),
            "manipulation_Weft_red": parseFloat(Vmanipulation_Weft_red),
            "manipulation_Weft_Ribs": parseFloat(Vmanipulation_Weft_Ribs),
            "manipulation_Weft_decoration": parseFloat(Vmanipulation_Weft_decoration),
            "material_Linen": parseFloat(Vmaterial_Linen),
            "material_Linen_background": parseFloat(Vmaterial_Linen_background),
            "material_Linen_red": parseFloat(Vmaterial_Linen_red),
            "material_Linen_very_loosely_spun": parseFloat(Vmaterial_Linen_very_loosely_spun),
            "material_Other": parseFloat(Vmaterial_Other),
            "material_Other_burlap": parseFloat(Vmaterial_Other_burlap),
            "material_Other_vegetable_fiber": parseFloat(Vmaterial_Other_vegetable_fiber),
            "material_Wool": parseFloat(Vmaterial_Wool),
            "material_Wool_tapestry": parseFloat(Vmaterial_Wool_tapestry),
            "material_Wool_thread": parseFloat(Vmaterial_Wool_thread)
            
        };
        
        //https://18.204.47.230/predict
        //44.205.218.73
        var jsonData = JSON.stringify(data)

          const response = await fetch("https://localhost:44388/predict", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
         body: jsonData
        });
        if (response.ok) {
            const data = await response.json();
            resultDiv.innerText = `Predicted value: ${data.predictedValue}`;
            alert(data.predictedValue)
        } else {
            resultDiv.innerText = 'An error occurred while predicting.';
            alert(data.predictedValue)
        };


    });


</script>

