@{
    ViewData["Title"] = "Unsupervised";
}

<br />
<div class="text-center">
    <h1>Unsupervised Model</h1>
</div>
<div class=" container text-center">
    <br />

    <br />
    <div class="image-container fade-in">
        <img src="~/img/clustered model.jpg" alt="Clustered Model" width="700" height="600">
        <img src="~/img/color2.jpg" alt="Clustered Model" width="400" height="550" style="margin-right: 60px;">
    </div>
    <br />
    <p><strong>
    A Hierarchical Clustering-based Unsupervised model was employed to evaluate the hypothesis that
    "Textiles of one color were more prominent at earlier times". Although the hypothesis was rejected,
    the analysis indicates an increase in the usage of multiple colors over time.
</strong>
    </p>
</div>