@{
    ViewData["Title"] = "Unsupervised";
}

<div class="text-center">
    <h1 class="display-4">Unsupervised</h1>
</div>
<div class=" container text-center">
    <p>
        A Hierarchical Clustering-based Unsupervised model was employed to evaluate the hypothesis that
        "Textiles of one color were more prominent at earlier times". Although the hypothesis was rejected,
        the analysis indicates an increase in the usage of multiple colors over time.
    </p>
    <div class="image-container">
        <img src="~/img/clustered model.jpg" alt="Clustered Model" width="700" height="600">
        <img src="~/img/color2.jpg" alt="Clustered Model" width="400" height="550" style="margin-right: 60px;">
    </div>
</div>